h1{
   color:whitesmoke; 
   font-family:sans-serif ;
   text-align: center;
   background-color:rgb(31, 20, 20);
}

   h2{
    color:whitesmoke;
    font-family: Arial;
    background-color:lightgreen;
     
}

table {
    border-color:black;
    border-width: 1px;
    border-style:solid
    
}

tr{
    background-color: lightgreen;
    text-decoration-color: whitesmoke;
    
}

td{
    font-family:sans-serif ;
    text-decoration-color:white
}